<PageTitle>Clube Do Livro :: Autores</PageTitle>

<h1>Autores</h1>

@if (Autores == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="e=>OpenPopup()">Adicionar</MudButton>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nome</th>
                <th>Sobrenome</th>
                <th>Livros Escritos</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var autor in Autores)
            {
                <tr>
                    <td>@autor.Id</td>
                    <td>@autor.Nome</td>
                    <td>@autor.Sobrenome</td>
                    <td>@autor.LivrosEscritos</td>
                </tr>
            }
        </tbody>
    </table>


}
