@page "/autores"


<h1>Autor</h1>

<MudTextField Label="Id" Variant="Variant.Outlined" Margin="Margin.Dense" Value="autor.Id"></MudTextField>
<MudTextField Label="Nome" Variant="Variant.Outlined" Margin="Margin.Dense" @bind-Value="autor.Nome"></MudTextField>
<MudTextField Label="Sobrenome" Variant="Variant.Outlined" Margin="Margin.Dense" @bind-Value="autor.Sobrenome"></MudTextField>
<MudTextField Label="LivrosEscritos" Variant="Variant.Outlined" Margin="Margin.Dense" ReadOnly Value="autor.LivrosEscritos"></MudTextField>

<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick=Confirmar>Confirmar</MudButton>
<MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick=Cancelar>Cancelar</MudButton>

