<PageTitle>Clube Do Livro :: Autores</PageTitle>

<h1>Autores</h1>

@if (Autores == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="e=>OpenPopup()">Adicionar</MudButton>

    <MudDataGrid Items="@Autores">
        <Columns>
            <PropertyColumn Property="x => x.Id" Title="Identificador" />
            <PropertyColumn Property="x => x.Nome" />
            <PropertyColumn Property="x => x.Sobrenome" />
            <PropertyColumn Property="x => x.LivrosEscritos" Title="Qtd. Livros" />
            <TemplateColumn CellClass="d-flex justify-end">
                <CellTemplate>
                    <MudStack Row>
                        <MudButton Size="@Size.Small" Variant="Variant.Filled" Color="Color.Primary" OnClick="e=>OpenPopup(context.Item, Mode.Alterar)">Editar</MudButton>
                        <MudButton Size="@Size.Small" Variant="Variant.Filled" Color="Color.Primary" OnClick="e=>OpenPopup(context.Item, Mode.Excluir)">Remover</MudButton>
                    </MudStack>
                </CellTemplate>
            </TemplateColumn>
        </Columns>
    </MudDataGrid>
}

